@import url(http://fonts.googleapis.com/css?family=Satisfy);

body {
    /* Typography Declarations */
    color: #222222;
    font-size: 18px;
    font-family: "Satisfy", cursive;
    background-color: #C0C0C0;
	line-height: 1;
	font-weight: 100;
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
}

#main {
	background-color: white;
  	margin-top: 20px;
  	padding-top: 1px;
  	height: 500px;
}

.header {
	text-align: center;
	padding: 1px;
}

#cart {
	padding-left: 10px;
}

.enter-items {
	text-align: center;
}

#instructions {
	text-align: center;
	font-size: 15px;
	line-height: 0.5px;
}

.sortable {
	padding-left: 30px;
	padding-right: 30px;
}

ol, ul {
	list-style: none;
}

#trash {
	float: right;
}

.purchased {
	text-decoration: line-through;
}

.item {
	margin: 5px;
	color: black;
}

.trash {
	text-align: right;
}

span {
	float: right;
}

.bottom {
	text-align: center;
}

.joni {
	font-size: 13px;
}

.connect {
	font-size: 11px;
}

.bottom li {
	text-align: center;
	display: inline-block;
	margin-right: 7px;
}
